.brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.brand img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    min-width: 120px;
    display: flex;
    flex: 1;
    margin: 1rem;
}